MONGO_DB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
STRIPE_API_KEY=sk_test_...
MAILGUN_DOMAIN=http://localhost:3000/
MAILGUN_API_KEY=key-...
SESSION_SECRET=your_super_secret_session_key
PORT=3000
APP_BASE_URL=http://localhost:3000
